body{
  background-color: #224269;
}
img {
  height: 300px;
  width: 300px;
  image-rendering: pixelated;
  border: none;
  outline: none;
  align-self: center;
}

p{
  /*color: white;*/
}

h1{
  text-align: center;
  font-size: 70px;

}

select{
  margin: 0px 30px 0px 30px;
  width: 100% ;
}

#header{
  display: flex;
  background-color: #00CBFB;
  height: 150px;
  margin: 30px 0 30px 0;
  align-items: center;
  justify-content: center;
  width: 90%;
  align-self: center;
  border: 10px solid;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

#fight-button{
  margin-left: 20px;
  margin-right: 20px;
}


#select-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#pokemon-info{
  background-color: #00CBFB;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border: 10px solid;
  border-radius: 25px;
  height: 500px;
}

.shakeImage {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.single-pokemon-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#combat-info{
  text-align: center;
  font-size: 20px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
