img {
  height: 300px;
  width: 300px;
  image-rendering: pixelated;
  border: none;
  outline: none;
  align-self: center;
}

h1{
  text-align: center;
  margin: 40px;
}

select{
  margin: 0px 30px 0px 30px;
  width: 100% ;
}

#fight-button{
  margin-left: 20px;
  margin-right: 20px;
}


#select-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 30px;
}

#pokemon-info{
  /*background-color: green;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*height: 40px;*/
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.shakeImage {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.single-pokemon-info{
  width: 80%;
  align-items: center;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
